# Ignore .env file
*.env

# Ignore Virtual Environment
.venv/

# Ignore other typical Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor specific files
.vscode/
.vs/
.idea/
*.swp
*.pyproj
*~
